<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="title title-2 contacts__title">контакты</h2>
    <p class="contacts__content">
      Чтобы выйти на новый уровень, нужны качественное окружение и мотивирующая среда — выберите свои
    </p>
    <ul class="list contacts__list">
      <li class="contacts__item">
        <span>Адрес:</span> Рязань проезд Яблочкова, 8д
      </li>
      <li class="contacts__item">
        <span>Телефон:</span> <a href="tel:89331130359">8 (933)-113 03 59</a>
      </li>
      <li class="contacts__item">
        <span>Почта:</span> <a href="mailto:Iauto62@yandex.ru">Iauto62@yandex.ru</a>
      </li>
    </ul>
    <div class="contacts__social">
      <h3 class="title contacts__social-title">Мы в соцсетях:</h3>
      <ul class="list contacts__social-list">
        <li>
          <a href="https://vk.com/iauto62" target="_blank" class="contacts__social-btn">
            <svg class="contacts__social-icon">
              <use xlink:href='img/icons/icons.svg#icon-vk'></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://t.me/+79331130359" target="_blank" class="contacts__social-btn">
            <svg class="contacts__social-icon">
              <use xlink:href='img/icons/icons.svg#icon-tg'></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://wa.me/+79331130359" target="_blank" class="contacts__social-btn">
            <svg class="contacts__social-icon">
              <use xlink:href='img/icons/icons.svg#icon-wh'></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="contacts__social-btn">
            <svg class="contacts__social-icon">
              <use xlink:href='img/icons/icons.svg#icon-yt'></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="contacts__map" id="contacts-map" data-center="[54.609203070056225,39.77531649999996]" data-zoom="18"></div>
</section>
